# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
!/misc/lambda-comparison-code/test_code.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/pico.s3.iml
/pico-s3.iml
/target

/test_with_env.sh
pom.xml.releaseBackup
release.properties
*.iml

# eclipse
.project
.classpath
.settings
